* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.Container3 {
    display: flex;
    background-image: url('./backgif.gif');
    height: 120vh;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Header {
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
    font-size: 4rem;
    text-align: left;
    background-color: transparent;
    background: linear-gradient(135deg, #ffffff, #bcbcbc, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  line-height: 1;         
  padding-bottom: 10px;     
  overflow: visible; 
}

.InputWords h1 {
    font-size: 2.5rem;
    margin-top: -100px;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    background: linear-gradient(135deg, #ffffff, #bcbcbc, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}


.InputBox {
    display: flex;               
    justify-content: space-between;  
    gap: 20px;                   
    width: 100%;                  
    max-width: 1500px;          
    margin-top: 10px;         
    flex-direction: row;
    background-color: transparent;
}

.BoxItem {
    flex: 1;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 30px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    font-size: 1.2rem;
    width: 500px;
    height: 270px;
    color: #ffffff;
    margin-bottom: 60px;
}

.BoxItem:hover {
    
  transform: scale(1.03);
}

.BoxItem h3{
   margin-top: 10px;
   font-size: 1.4rem;
}

.BoxItem p{
   margin-top: 20px;
}

@media (max-width: 768px) {
    .InputBox {
        flex-direction: column;  
        gap: 15px;
        width: 100%;
    }
}